@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dave's Tool Shed</h1>
    <p><a href="/StoreProduct/" class="btn btn-primary btn-lg">See Our Stuff!!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
</div>